---
layout: default
---
<div id="profile">
  <div id="profileHeader">
    <div class="banner">
      <img src="{{site.baseurl}}/assets/images/banner.png"
           width="480"
           height="368" alt="banner" />
    </div>
  </div>
  <div id="profileNavigation">
    <ul>
      <li><a href="{{site.baseurl}}/blog">Our Blog</a></li>
      <li>.:|:.</li>
      <li><a href="https://github.com/freakazoids">Github</a></li>
      <li>.:|:.</li>
      <li><a href="https://ctftime.org/team/54762">Ctftime</a></li>
      <li>.:|:.</li>
      <li><a href="mailto:root@freakazoids.de" aria-label="email">Contact Us</a></li>
    </ul>
  </div>
</div>
